Repository open-edge-platform/scenescape, pull requests merged in 2025-07, with the labels that each got.

#136 [CI] Changed quote type in `make prettier-check` to disable executing write automatically
  Makefile
Labels: bug, github_actions

#190 [ITEP-71935] Dependabot pip updates
  .github/dependabot.yml
  .github/resources/requirements.txt
  autocalibration/requirements-runtime.txt
  autocalibration/src/reloc/requirements.txt
Labels: dependencies

#202 [ITEP-68209] Upload images to ghrc.io
  .github/workflows/weekly-build.yml
Labels: github_actions, docker

#214 [ITEP-71370] Move CodeQL analysis to a separate workflow + improvements
  .github/workflows/checks-and-scans.yml
  .github/workflows/codeql.yml
Labels: github_actions

#219 [ITEP-72775] [Bug Fix] Add .trivyignore
  .github/workflows/weekly-build.yml
Labels: bug, dependencies, docker

#225 [ITEP-71797] Add tests
  .github/resources/requirements.txt
  .github/workflows/auto-update.yml
  .github/workflows/checks-and-scans.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/post-merge-checks-and-scans.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
  .github/workflows/tests-all.yml
  .github/workflows/tests-bat.yml
  .github/workflows/weekly-build.yml
Labels: github_actions

#227 [ITEP-71797] Fix All Tests Workflow
  .github/resources/requirements.txt
  .github/workflows/tests-all.yml
  .github/workflows/tests-bat.yml
Labels: dependencies, github_actions

#236 [ITEP-68209] Add parsing of version.txt for rc version for build
  .github/workflows/weekly-build.yml
Labels: github_actions, run-bat

#234 [ITEP-71370] Remove Coverity on PRs + Improve BAT workflow
  .github/workflows/codeql.yml
  .github/workflows/coverity.yml
  .github/workflows/tests-bat.yml
Labels: github_actions, run-bat
